<?xml version="1.0" encoding="UTF-8"?>
<!-- IIS reverse proxy for CortexSkills. Needs the IIS modules "URL Rewrite" and "Application Request Routing"
     (enable the proxy in ARR > Server Proxy Settings). Bind the site to HTTPS with the company certificate. -->
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="CortexSkills" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:4000/{R:1}" />
          <serverVariables>
            <set name="HTTP_X_FORWARDED_PROTO" value="https" />
          </serverVariables>
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="31457280" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
